.add-btn.ant-btn-primary{
    background-color:rgb(17, 208, 46);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    padding-bottom: 40px;
    &:hover{
        background-color:rgb(17, 208, 46);
       opacity: 0.8;
     }
   
}
